.card {
    width: 300px;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 20px auto;
    background-color: rgb(222, 243, 201);
    box-shadow: 5px 5px 10px #d1c3c3;
}

.name {
    border: 1px solid rgb(0, 0, 0);
    padding: 7px;
    margin-bottom: 15px;
}
 
img {
    width: 300px;
    border: 1px solid rgb(0, 0, 0);
    display: block;
    margin: auto;
}
.info{
     border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    margin-top: 15px; 
}
.fact{
    font-style: italic;
}
.list{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 15px;
}
.list span{
 font-weight: bold;
}